<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Quản lý tài chính cá nhân</title>
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container-scroller">
        @await Html.PartialAsync("_SidebarPartial")

        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("_NavbarPartial")

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                            Copyright © Phạm Trần Tuấn Vĩ - 2026 [cite: 1, 11]
                        </span>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>